config.json
node_modules/
package-lock.json
data/
local_files/
mirror.flp
logs/
built/
.prettierrc
/src/keywords/Keywords.ts
/src/slashcommands/SlashCommands.ts
/src/messagecommands/MessageCommands.ts